<div id="login" class="modal">
  <span class="u-close--modal" (click)="closeLogin()"></span>
  <div class="modal-content u-padding--0px">
    <div class="row">
      <form [formGroup]="submitForm" class="col s12 jq-form" (ngSubmit)="onSubmit(submitForm.value, submitForm.valid)">
        <div class="col s12 u-tabs--container">
          <ul class="tabs">
            <li class="tab col s3"><a (click)="setFormType(FORM_TYPE.REGISTRATION)">{{FORM_TYPE.REGISTRATION}}</a></li>
            <li class="tab col s3"><a (click)="setFormType(FORM_TYPE.LOGIN)">{{FORM_TYPE.LOGIN}}</a></li>
          </ul>
        </div>
        <div class="input-field col s12  u-margin--top90px">
          <i class="material-icons prefix">email</i>
          <input id="icon_prefix" type="email" class="validate" formControlName="email">
          <label for="icon_prefix" data-error="Invalid email!" data-success="Email is valid!">Email</label>
        </div>

        <div class="input-field col s12">
          <i class="material-icons prefix">vpn_key</i>
          <input id="password_first_prefix" type="password" class="validate" formControlName="password">
          <label for="password_first_prefix">Password</label>
        </div>
        <div formGroupName="formType">
          <div *ngIf="submitForm.controls.formType.controls.type.value === FORM_TYPE.REGISTRATION"
               class="col s12 u-reg--form">
            <div class="input-field col s12" formGroupName="registration">
              <i class="material-icons prefix"><i class="material-icons">account_circle</i></i>
              <input id="firstn_prefix" type="text" class="validate" formControlName="fullname">
              <label for="firstn_prefix">Fullname</label>
            </div>
            <div *ngIf="submitForm.controls.formType.controls.registration.controls['fullname'].hasError('required')
            && submitForm.controls.formType.controls.registration.controls['fullname'].touched"
                 class="alert alert-danger col s12" [@flyInOut]><span>Fullname is required!</span></div>
            <div *ngIf="submitForm.controls.formType.controls.registration.controls['fullname'].hasError('minlength')
            && submitForm.controls.formType.controls.registration.controls['fullname'].touched"
                 class="alert alert-danger col s12" [@flyInOut]>
              <span>Your fullname must be at least 10 characters long.</span></div>
            <div *ngIf="submitForm.controls.formType.controls.registration.controls['fullname'].hasError('maxlength')
            && submitForm.controls.formType.controls.registration.controls['fullname'].touched"
                 class="alert alert-danger col s12" [@flyInOut]><span>Your fullname cannot exceed 50 characters.</span>
            </div>
            <div *ngIf="submitForm.controls['password'].hasError('required')
            && submitForm.controls['password'].touched" class="alert alert-danger col s12" [@flyInOut]><span>Password is required!</span>
            </div>
            <div *ngIf="submitForm.controls['password'].hasError('minlength')
            && submitForm.controls['password'].touched" class="alert alert-danger col s12" [@flyInOut]><span>Your password must be at least 8 characters long.</span>
            </div>
            <div *ngIf="submitForm.controls['password'].hasError('maxlength')
            && submitForm.controls['password'].touched" class="alert alert-danger col s12" [@flyInOut]><span>Your passowrd cannot exceed 30 characters.</span>
            </div>
          </div>
          <div *ngIf="submitForm.controls.formType.controls.type.value === FORM_TYPE.LOGIN" class="col s12">
            <div class="input-field col s12 u-human--check" formGroupName="login">
              <input id="human" type="checkbox" class="validate" formControlName="isHuman">
              <label for="human">Are you a human?</label>
            </div>
            <div *ngIf="submitForm.controls.formType.controls.login.controls['isHuman'].hasError('required')"
                 class="alert alert-danger col s12">You are not a human!
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="waves-effect waves-green btn-flat jq-login" [disabled]="!submitForm.valid">
              {{buttonName}}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
