<div *ngIf="borrowedBooks" class="row u-paddingbot--150px_">
  <div  *ngFor="let userBook of borrowedBooks" class="col s12 m6 l4 u-position--relative u-height--350px" >
    <div>Description: {{userBook.borrowDescription}}</div>
    <div>Return date: {{userBook.returnDate | date }}</div>
    <div>Borrow date: {{userBook.borrowDate | date}}</div>
    <div class="card horizontal waves-effect u-library--height">
      <div class="card-image u-width--145px">
        <img [src]="userBook.ownedBook.book.volumeInfo.imageLinks?.smallThumbnail">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4 u-lineheight--21px u-display--block_">{{userBook.ownedBook.book.volumeInfo.title}}</span>
          <p class="limit u-border--top_ u-height--75px" [innerHTML]="userBook.ownedBook.book.volumeInfo.description"></p>
        </div>
      </div>
    </div>
  </div>
</div>
<bookinfo #bookinfo></bookinfo>
<borrowbook #borrowbook></borrowbook>
<div *ngIf="!borrowedBooks" class="u-if--empty">
  You don't gave any book to somebody...
</div>
