<div *ngIf="books" class="row u-paddingbot--150px_"
     infinite-scroll
     [infiniteScrollDistance]="1"
     [infiniteScrollThrottle]="500"
     (scrolled)="onScroll()">
  <div class="col s12 m6 l4" *ngFor="let book of books.items" (click)="openAdditionalInfo(book)">
    <div class="card horizontal u-height--245px_ waves-effect">
      <div class="card-image u-width--145px">
        <img [src]="book.volumeInfo.imageLinks?.smallThumbnail">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4 u-lineheight--21px u-display--block_">{{book.volumeInfo.title}}<!--i class="material-icons right u-position--absolute_">more_vert</i--></span>
          <p class="limit u-border--top_ u-height--75px">
            {{book.volumeInfo.description}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="books == null" class="u-if--empty">
  Let's find a book for you...
</div>
<bookinfo #bookinfo></bookinfo>
