<div *ngIf="userBooks" class="row u-paddingbot--150px_">
    <div *ngFor="let userBook of userBooks" class="col s12 m6 l4 u-position--relative u-height--350px" >
      <div [id]="userBook.book.id" *ngIf="!userBook.borrowed">
      <span class="u-icon--edit" (click)="expandEditPanel($event, userBook)"></span>
      <span class="u-icon--read" (click)="openAdditionalInfo(userBook.book)"></span>
      <div class="card horizontal waves-effect u-library--height">
        <div class="card-image u-width--145px">
          <img [src]="userBook.book.volumeInfo.imageLinks?.smallThumbnail">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4 u-lineheight--21px u-display--block_">{{userBook.book.volumeInfo.title}}</span>
            <p class="limit u-border--top_ u-height--75px" [innerHTML]="userBook.book.volumeInfo.description"></p>
          </div>
        </div>
      </div>
      <div class="card-action u-bookUser--info">
        <span class="chip u-float--left">Status: {{userBook.readStatus}}</span>
        <span class="chip u-float--right">Added: {{userBook.date_added | date}}</span>
      </div>
      <div class="card-action u-bookUser--info u-options--container" *ngIf="userBook.book.id === parentId"  [@flyInOut]>
        <form>
          <p class="u-p--delete waves-effect waves-light">
            <span class="u-icon--delete" (click)="deleteUserBook(userBook)"></span>
          </p>
          <p *ngFor="let option of options">
            <input [id]="option.name" type="radio" name="status" [checked]="option.name == selectedOption.name" (click)="getValue(option.name)" value= {{option.name}}>
            <label [attr.for]="option.name">{{option.name}}</label>
          </p>
          <p class="u-p-remainder waves-effect waves-light">
            <span class="u-icon--remainder" (click)="borrowBook(userBook)"></span>
          </p>
        </form>
      </div>
      </div>
    </div>
</div>
<bookinfo #bookinfo></bookinfo>
<borrowbook #borrowbook></borrowbook>
<div *ngIf="!userBooks" class="u-if--empty">
  No books in your library yet...
</div>
