/* Mobile first queries */
.u-float--right{
  float: right;
}

.limit {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.u-make--wider{
  width: 17rem;
}

.u-search--div{
  position: relative;
  display: inline-block;
  height: inherit;
  float: left;
  text-align: left;
}

.u-search--div > .u-search--icon{
  position: relative;
  left: 0.5rem;
  vertical-align: middle;
  display: inline-block;
}

.u-search--div >.u-arrow--delete{
  position: absolute;
  top: 0;
  right: 1rem;
  /*display: inline-block;*/
  vertical-align: middle;
  cursor: pointer;
}

.u-input--search{
  border-bottom: none !important;
  margin-left: -1.8rem;
}

.u-height--245px_{
  height: 345px;
  transition: all 0.2s linear;
}

.u-width--145px{
  width: 150px;
  margin: 0 auto;
}

ul:hover ul{
  opacity: 1;
  display: block;
}

.right{
  width: 6rem;
  height: inherit;
  overflow: hidden;
}

.right > .dropdown-button{
  height: inherit;
}

.button-collapse{
  display: block !important;
}

.side-nav{
  text-align: center;
}

.u-position--fixed_{
  position: fixed;
  z-index: 1000;
}

.u-paddingbot--150px_{
  padding-bottom: 150px;
  padding-top: 80px;
}

.nav-wrapper{
  background-color: #00897b;
}

.u-width--145px > img{
  height: 100%;
}

.u-position--absolute_{
  position: absolute;
  top: 15px;
  right: 5px;
}

.u-lineheight--21px{
  line-height: 21px !important;
}

.u-display--block_{
  display: block;
  margin-bottom: 10px;
}

.u-border--top_{
  border-top: 1px solid rgba(0, 0, 0, 0.16);
  padding-top: 10px;
  padding-bottom: 2rem;
}

.u-height--75px{
  height: 75px;
}

.nav-wrapper{
  text-align: right;
}

.brand-logo{
  left: 15px;
}

.u-image--box{
  height: 200px;
  background-color: #9e9e9e;
  background-image: url("../assets/books.jpg");
  background-size: cover;
}

.u-go--top{
  position: fixed;
  z-index: 1000;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  opacity: 0.45;
}

.u-go--top > i{
  font-size: 55px;
  transform: rotate(-90deg);
  transition: all 0.2s linear;
}

.u-go--top > i:hover{
  color: #00897b;
  transition: all 0.2s linear;
}

.u-display--none{
  display: none;
}

.card.horizontal{
  display: block;
}

.loader-preview{
  padding-top: 300px;
  text-align: center;
}

.loader-preview > h4{
  color: gray;
  padding-top: 20px;
}

.clicked_{
  min-width: 100% !important;
}

.u-information--about{
  text-align: center;
  position: relative;
  padding-bottom: 2rem;
}

.u-additional--information{
  text-align: center;
}

.u-information--about{
  text-align: center;
}

.u-information--about hr{
  display: none;
}

.u-information--about .u-fontsize--1rem{
  display: none;
}

.u-information--about > div{
  margin-top: 1.5rem;
}

.u-information--about > div > span.chip {
  display: block;
}

.u-btn--add{
  border-radius: 30px;
}

ul > ul {
  min-width: 100% !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2) !important;
}

ul:hover{
  opacity: 1;
  display: block;
}

input[type="text"]{
  width: 200px;
  min-width: 200px;
  text-align: center;
  background-color: rgba(255,255,255,0.3);
  border-radius: 30px;
}

input[type="text"]:invalid{
  width: 200px;
  min-width: 200px;
}

input[type=text]:focus:not([readonly]),
input[type=text].valid{
  box-shadow: none;
  width: 95%;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: white;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: white;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {
  .right{
    width: auto;
  }

  .u-search--div{
    width: 30rem;
  }

  .u-arrow--delete{
    right: 2rem !important;
  }

  .u-information--about > hr{
    left: 0;
    right: 0;
    position: absolute;
    top: 4.4rem;
    border: 2px solid gray;
    border-radius: 20px;
  }

  .u-information--about > div{
    display: inline-block;
    text-align: center;
    margin-right: 30px;
  }

  .u-fontsize--1rem{
    display: block !important;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: block;
    font-size: 1rem;
    color: gray;
  }

  .u-information--about hr{
    display: block;
  }

  .u-width--145px{
    width: 225px;
  }
}

  /* Larger than desktop */
@media (min-width: 1000px) {
  .card.horizontal{
    display: flex;
  }

  .u-height--245px_{
    font-size: 14px;
    height: 245px;
  }

  .u-width--145px{
    width: 145px;
  }

  .u-information--about > hr{
    top: 4.36rem;
  }

}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
