<nav class="u-position--fixed_">
  <div class="nav-wrapper">
    <a *ngIf="auth.authUser" data-activates="mobile-view" class="button-collapse u-menu--button"></a>
    <a *ngIf="!auth.authUser" data-activates="mobile-view-notUser" class="button-collapse u-menu--button"></a>
    <div class="u-search--div">
      <span class="u-search--icon"></span>
      <input [formControl]="searchControl" placeholder="Enter book title..." id="search_book" type="text"
             class="validate u-input--search" onfocus="placeholder = ''" onblur="placeholder = 'Enter book title...'">
      <span class="u-arrow--delete u-display--none" (click)="clearSearchBox()"></span>
    </div>
    <div class="u-box--about">
      <a href="#aboutInfo"><i class="material-icons">info_outline</i></a>
      <div id="aboutInfo" class="modal u-about--modal">
        <div class="modal-content">
          <h4>Information about project</h4>
          <p>
            Borrowed Books Application<br />
            <a href="https://github.com/vadimstrukov/borrowed-books-app" target="_blank">GitHub</a><br />
            Borrowed Book RESTful API<br />
            <a href="https://github.com/vadimstrukov/borrowed-books-api" target="_blank">Our API</a><br />
            <br /><br />Developers:<br />
            Front-End: Stanisalw Kosharinski<br />
            <a href="https://github.com/StanislavKosharinski" target="_blank">Stanislav's Git</a><br />
            Back-End: Strukov Vadim<br />
            <a href="https://github.com/vadimstrukov" target="_blank">Vadim's Git</a><br />
          </p>
        </div>
        <div class="modal-footer">
          <a class=" modal-action modal-close waves-effect waves-green btn-flat">Okey</a>
        </div>
      </div>
    </div>
    <ul *ngIf="!auth.authUser" class="side-nav" id="mobile-view-notUser">
      <li class="u-image--box"></li>
      <li class="u-css--slider">
        <span class="u-slider--wrapper">
          <span>
          <img src="../assets/active-search.png" alt=""><br />
          <span>Here you can find all the books that are interesting to you.</span>
        </span>
        <span>
          <img src="../assets/plus-one.png" alt=""><br />
          <span>Enrich your library with new books every day..</span>
        </span>
        <span>
          <img src="../assets/share-icon.png" alt=""><br />
          <span>You can keep track of those books that are given away.</span>
        </span>
        </span>
      </li>
      <li class="u-btn--login"><a (click)="openLogin()" class="waves-effect waves-light">Login</a></li>
    </ul>
    <ul *ngIf="auth.authUser" class="side-nav" id="mobile-view">
      <li class="u-image--box"><a>{{auth.authUser.fullname}}</a></li>
      <li><a (click)="openLibrary()">My library <span class="chip u-menu--badges">{{bookService.userLibrary?.ownedBooksLength}}</span></a></li>
      <li><a (click)="openBorrowed()">Borrowed books <span class="chip u-menu--badges">{{bookService.userLibrary?.borrowedBooksLength}}</span></a></li>
      <li><a (click)="logout()" class="waves-effect waves-light">Logout</a></li>
    </ul>
  </div>
</nav>
<span class="u-go--top u-display--none" (click)="scrollWindowToTop()"></span>

<router-outlet></router-outlet>

<login #login *ngIf="!auth.authUser"></login>
