 <nav class="u-position--fixed_">
    <div class="nav-wrapper">
      <!--a href="#" class="brand-logo">Books</a-->
      <a href="#" data-activates="mobile-view" class="button-collapse"><i class="material-icons">menu</i></a>
      <div class="u-search--div">
        <i class="material-icons u-search--icon">search</i>
        <input [formControl]="searchControl" placeholder="Enter book title..." id="search_book" type="text" class="validate u-input--search" (click)="removeAttrStyle()">
        <i class="u-arrow--delete u-display--none animated material-icons" (click)="clearSearchBox()">cancel</i>
      </div>
      <ul class="right">
        <li><a href="#" class="waves-effect waves-light"><i class="material-icons">account_circle</i></a></li>
        <li><a href="#" class="waves-effect waves-light"><i class="material-icons">settings</i></a></li>
      </ul>
      <ul class="side-nav" id="mobile-view">
        <li class="u-image--box"></li>
        <li><a href="#">You</a></li>
        <li><a href="#">Books</a></li>
        <li><a href="#">Friends</a></li>
      </ul>
    </div>
  </nav>
 <span class="u-go--top" (click)="scrollWindowToTop()"><i class="material-icons">play_circle_filled</i></span>
 <div class="loader-preview">
   <div class="animation">
   </div>
   <h4>Hello, let's find a book for you</h4>
 </div>
 <div *ngIf="books" class="row u-paddingbot--150px_"
      infinite-scroll
      [infiniteScrollDistance]="1"
      [infiniteScrollThrottle]="500"
      (scrolled)="onScroll()">
     <div class="col s12 m6 l4" *ngFor="let book of books.items">
       <div class="card horizontal u-height--245px_ waves-effect">
         <div class="card-image u-width--145px">
           <img [src]="book.volumeInfo.imageLinks?.smallThumbnail">
         </div>
         <div class="card-stacked">
           <div class="card-content">
             <span class="card-title activator grey-text text-darken-4 u-lineheight--21px u-display--block_">{{book.volumeInfo.title}}<i class="material-icons right u-position--absolute_">more_vert</i></span>
             <p class="limit u-border--top_">{{book.volumeInfo.description}}</p>
           </div>
         </div>
       </div>
     </div>
 </div>
