/* You can add global styles to this file, and also import other style files */
@import "../node_modules/materialize-css/dist/css/materialize.css";

body{
  background-color: rgba(220, 220, 220, 0.23);
}

.loader-preview{
  padding-top: 150px;
  text-align: center;
}

.loader-preview > h4{
  color: gray;
  padding-top: 20px;
}

.animation, .animation:before, .animation:after{
  border: 3px solid transparent;
}

.animation{
  position: relative;
  margin: 0 auto;
  height: 200px;
  width: 200px;
  border-top-color: #2196f3;
  border-radius: 50%;
  animation-name: logo;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.animation:after{
  content: '';
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  border-top-color: #00897b;
  border-radius: 50%;
  animation-name: logo;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.animation:before{
  content: '';
  position: absolute;
  left: -15px;
  right: -15px;
  top: -15px;
  bottom: -15px;
  border-top-color: #f57f17;
  border-radius: 50%;
  animation-name: logo;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@-webkit-keyframes logo {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes logo {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
